#kudos: https://medium.com/horrible-hacks/using-systemd-as-a-better-cron-a4023eea996d
#https://opensource.com/article/20/7/systemd-timers
# /etc/systemd/system/turnservercontrol.service
[Unit]
Description=Runs logic to update connection string and monitor heartbeat shutdown instance
Wants=coturncontrol.timer

[Service]
ExecStart=/usr/bin/pwsh -F /home/ubuntu/coturnconfig/coturncontrol.ps1
WorkingDirectory=/home/ubuntu/coturnconfig
User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target