;;;;
; npm userconfig file
; this is a simple ini-formatted file
; lines that start with semi-colons are comments.
; read `npm help config` for help on the various options 
; https://docs.npmjs.com/cli-commands/config
;;;;

unsafe-perm=true #references: https://github.com/node-webrtc/node-webrtc/issues/405, https://geedew.com/What-does-unsafe-perm-in-npm-actually-do/
